<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/Assets/Css/Reset.css">
    <link rel="stylesheet" href="/Assets/Css/Style.css">
    <title>Absoligne</title>
</head>
{% endblock %}
{% block body %}
    <body>
        <!--------------------------------------------Header-------------------------------------------->
        <header>
            <div class="header-content">
                <div class="logo-section">
                    <img class="logo" src="/Assets/Img/Logo.png" alt="Logo de notre Site E-commerce">
                </div>
                <ul class="nav-header">
                    <li>Accueil</li>
                    <li>Boutique</li>
                    <li>Contact</li>
                </ul>
                <div class="user-section">
                    <img class="search"src="" alt="icone de recherche">
                    <img class="wishlist" src="" alt="icone de wish list">
                    <img class="panier" src="" alt="icone du panier utilisateur">
                </div>
            </div>
        </header>
        <!--------------------------------------------Fin - Header-------------------------------------------->

        <!--------------------------------------------Content-------------------------------------------->
        <div class="section-one">
            <div class="landing-search">
                <h2>Achat Et Vente à Votre Disposition</h2>
                <h3>Le meilleur site d'achat et de ventes en ligne partout en France</h3>
                <form action="" method="post" class="search-bar">
                    <input type="text" placeholder="Recherche..." class="search-name" name="name">
                    <input type="number" name="price" id="sel-prix">
                    <input type="text" placeholder="Localisation..." name="Location" id="sel-loca">
                    <button type="submit">Trouver</button>
                </form>
            </div>
        </div>
        <div class="section-two">
            <h1>Quelques de nos articles</h1>
            {% for item in listOfProducts %}
                <div class="product">
                    <div class="product-card">
                        <a href="product/{{item.idproduct}}">{{item.name}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--------------------------------------------Fin - Content-------------------------------------------->

        <!--------------------------------------------Footer-------------------------------------------->
        <footer>
            <div class="footer-content">
                <div class="footer-identity">
                    <img src="" alt="logo de notre compagnie">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab voluptates similique repellat, exercitationem hic reprehenderit tempora, aliquam debitis, repellendus alias nobis enim dolores itaque sint laborum id architecto nesciunt dolorum?</p>
                </div>
                <div class="site-map">
                    <ul class="help-link">
                        <li>link1</li>
                        <li>link2</li>
                        <li>link3</li>
                    </ul>
                    <ul class="about-us">
                        <li>link1</li>
                        <li>link2</li>
                        <li>link3</li>
                    </ul>
                    <ul class="Web-site">
                        <li>link1</li>
                        <li>link2</li>
                        <li>link3</li>
                    </ul>
                </div>
                <div class="reassuring-info">
                    <img src="" alt="logo-pay">
                    <img src="" alt="logo-pay">
                    <img src="" alt="logo-pay">
                    <img src="" alt="logo-pay">
                </div>
            </div>
        </footer>
        <!--------------------------------------------Fin - Footer-------------------------------------------->
    </body>
{% endblock %}
</html>